<app-nav-bar></app-nav-bar>

<table #resourcetable mat-table [dataSource]="resources" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let resource"> {{resource.id}} </td>
    </ng-container>
  
    <!-- ID Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let resource"> {{resource.name}} </td>
      </ng-container>
  
      <!-- ID Column -->
    <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef> Detalle </th>
        <td mat-cell *matCellDef="let resource"> {{resource.detail}} </td>
      </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="privacy">
      <th mat-header-cell *matHeaderCellDef> Privacidad </th>
      <td mat-cell *matCellDef="let resource"> {{resource.privacy}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let resource" class="button-row"> 
          <button mat-raised-button color="primary" (click)="requestAccess(resource)">Solicitar Acceso</button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
