<h1 mat-dialog-title>Remover usuario</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <mat-select [(ngModel)]="userSelected">
            <mat-option *ngFor="let user of users" [value]="user">
                {{user.firstname}} {{user.lastname}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cerrar</button>
  <button mat-button (click)="save(userSelected)">Ok</button>
</div>