<h1 mat-dialog-title>Actualizar usuario</h1>
<div mat-dialog-content>
  <mat-form-field class="login-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="resource.name">
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <mat-label>Detalle</mat-label>
    <input matInput [(ngModel)]="resource.detail">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Privacidad</mat-label>
    <mat-select [(ngModel)]="resource.privacy">
      <mat-option *ngFor="let privacy of privacyStates" [value]="privacy.value">
        {{privacy.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> 
  <br>
  <input type="file" (change)="selectFile($event)" />
  <br>
  <br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cerrar</button>
  <button mat-button (click)="save()">Ok</button>
</div>