<app-nav-bar></app-nav-bar>

<table #resourcetable mat-table [dataSource]="resources" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let resource"> {{resource.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let resource"> {{resource.name}} </td>
      </ng-container>
  
      <!-- Detail Column -->
    <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef> Detalle </th>
        <td mat-cell *matCellDef="let resource"> {{resource.detail}} </td>
      </ng-container>
  
    <!-- Privacy Column -->
    <ng-container matColumnDef="privacy">
      <th mat-header-cell *matHeaderCellDef> Privacidad </th>
      <td mat-cell *matCellDef="let resource"> {{resource.privacy}} </td>
    </ng-container>

    <!-- Ownership Column -->
    <ng-container matColumnDef="ownership">
      <th mat-header-cell *matHeaderCellDef> Propiedad </th>
      <td mat-cell *matCellDef="let resource"> {{resource.ownership}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let resource" class="button-row">
        <span *ngFor="let action of resource.actions">
          <button *ngIf="action.actionName == 'READ'" mat-raised-button color="primary" (click)="download(resource)">Descargar</button>
          <button *ngIf="action.actionName == 'WRITE'" mat-raised-button color="primary" (click)="update(resource)">Editar</button>
          <button *ngIf="action.actionName == 'DELETE'" mat-raised-button color="warn" (click)="delete(resource)">Borrar</button> 
          <button *ngIf="action.actionName == 'ADD_MEMBER'" mat-raised-button color="primary" (click)="invite(resource)">Compartir</button> 
          <button *ngIf="action.actionName == 'DELETE_MEMBER'" mat-raised-button color="warn" (click)="remove(resource)">Desvincular</button> 
         </span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
  
  <button mat-raised-button color="primary" (click)="toggleResourceForm(true)">Nuevo recurso</button>
  
  <div *ngIf="newResourceFlag">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" [(ngModel)]="resource.name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Detalle</mat-label>
      <input matInput [(ngModel)]="resource.detail">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Privacidad</mat-label>
      <mat-select [(ngModel)]="resource.privacy">
        <mat-option *ngFor="let privacy of privacyStates" [value]="privacy.value">
          {{privacy.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <input type="file" (change)="selectFile($event)" />
    <br>
    <br>
    <button mat-raised-button color="warn" (click)="toggleResourceForm(false)">Cancelar</button>
    <button mat-raised-button color="primary" (click)="addNewResource()">Aceptar</button>
  </div>