<nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links"
       [active]="activeLink == link.displayLink"
       routerLink="/{{link.displayLink}}" routerLinkActive="active"> {{link.displayName}} 
    </a>
</nav>
