<app-nav-bar></app-nav-bar>

<div class="profile-div">
    <mat-card class="profile-card">
        <mat-card-header>
            <img mat-card-avatar class="profile-header-image" src="{{user.publicUserData.avatar}}">
            <mat-card-title>{{user.publicUserData.firstname}} <span style="float: right;">
                                                                <mat-icon aria-hidden="false" 
                                                                          aria-label="Example home icon"
                                                                          [ngClass]="{'confirmed-account': user.privateUserData.confirmedAccount, 'unconfirmed-account': !user.privateUserData.confirmedAccount}">
                                                                    check_circle
                                                                </mat-icon>
                                                              </span>
            </mat-card-title>
            <mat-card-subtitle>{{user.privateUserData.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
            Hola {{user.publicUserData.firstname}} {{user.publicUserData.surname}}!
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="modalUpdate()">ACTUALIZAR</button>
            <button mat-raised-button color="warn" (click)="delete()">BORRAR MI CUENTA</button>
        </mat-card-actions>
    </mat-card>
</div>
