<h1 mat-dialog-title>Actualizar usuario</h1>
<div mat-dialog-content>
  <mat-form-field class="login-full-width">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="editableUser.email">
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="editableUser.firstname">
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="editableUser.surname">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Fecha de nacimiento dd/MM/yyyy</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="editableUser.birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <mat-label>Avatar</mat-label>
    <input matInput [(ngModel)]="editableUser.avatar">
  </mat-form-field>    
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cerrar</button>
  <button mat-button (click)="save()">Ok</button>
</div>