.profile-div{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.profile-card {
    max-width: 400px;
    max-height: 400px;
}
    
.profile-header-image {
    background-size: cover;
    width: 64px;
    height: 64px;
}

.login-div{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login-card {
    max-width: 400px;
    width: 400px;
}

.login-actions{
    display: flex;
    justify-content: center;
}

.login-button {
    background: linear-gradient(180deg, #62d5fc 50%, #007ca5 50%);
    color: black;
    max-width: 300px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .login-full-width {
    width: 100%;
  }

  .confirmed-account{
      color: #0066ff;
  }

  .unconfirmed-account{
    color: #777777;
  }