<div class="login-div">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Bienvenido!</mat-card-title>
        <mat-card-subtitle>Inicie sesion</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form class="login-form">
          <mat-form-field class="login-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingrese nombre de usuario" [(ngModel)]="userCredentials.username" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field class="login-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ingrese contraseña" [(ngModel)]="userCredentials.password" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </form>
        <div *ngIf="loginError" class="error">{{loginMessage}}</div>
        <button mat-raised-button color="primary" style="float: right;" (click)="login()">Aceptar</button>
        <br>
        <p>No tiene una cuenta? <a mat-button color="primary" (click)="register()">Registrese</a></p>
        <br>
        <p>
          Inicie sesion con
        </p>
      </mat-card-content>
      <mat-card-actions class="login-actions">
        
      </mat-card-actions>
  </mat-card>
  </div>