<app-nav-bar></app-nav-bar>

<table #invitationtable mat-table [dataSource]="invitations" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- ID Column -->
    <ng-container matColumnDef="resourceId">
      <th mat-header-cell *matHeaderCellDef> Resource ID </th>
      <td mat-cell *matCellDef="let invitation"> {{invitation.resourceId}} </td>
    </ng-container>
  
    <!-- ID Column -->
    <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> User ID </th>
        <td mat-cell *matCellDef="let invitation"> {{invitation.userId}} </td>
      </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let invitation" class="button-row">
        <button mat-raised-button color="primary" (click)="accept(invitation)">Aceptar Invitacion</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>